.pf-v5-l-level {
  --pf-v5-l-level--m-gutter--MarginRight: var(--pf-v5-global--gutter);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.pf-v5-l-level.pf-m-gutter > *:not(:last-child) {
  margin-right: var(--pf-v5-l-level--m-gutter--MarginRight);
}